h1{
	background: yellow url(../CSS/sunflower.jpg) center;
	text-align: center;
	color: blue;
	border: 2px solid green;
	border-radius: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.left{display: block;
	border: 2px solid blue;
	float:left;
	margin: 3px;
	width: 220px;
	text-align: center;
	background-color: yellow;
	border-radius: 3px;
}
p:nth-child(1){
	width: 100px;
	height: 100px;
	border: 3px solid blue;
	background-color: yellow;
	position:absolute;
	top:70px;
	left:70px;
	z-index: 3;
}
p:nth-child(2){
	width: 100px;
	height: 100px;
	border: 3px solid blue;
	background-color: red;
	position:absolute;
	top:100px;
	left: 100px;
	z-index: 2;
}
p:nth-child(3){
	width: 100px;
	height: 100px;
	border: 3px solid blue;
	background-color: green;
	position:absolute;
	top:130px;
	left:130px;
	z-index: 1;
}
p:hover{
	background-color: black;
	width: 120px;
	height: 120px;
	z-index: 4;
	opacity: 0.5;
}
span::before{
	content: 'Bánh mì ';
}

span::after{
	content: ' giá rẻ'
}

span::first-line{
	background: gray;
}