.container{
	display: flex;
	width: 600px;
	border: 2px solid;

}
:root{
	--pink-color: red;
}
h1,h2,h3,h4,h5{
	color:var(--pink-color);
	text-align: center;
}
.first,.second,.third,.four,.five{
	border:1px solid var(--pink-color);
	margin-bottom: 5px;
	--item-text-color: pink;
	--item-bg-color: purple;
	margin: 10px;
	padding: 10px;
	flex-basis: 150px;
}
a{
	color:var(--item-text-color);
	background-color:var(--item-bg-color);
}

@media screen and (max-width: 480px)
{
.container{
	flex-direction: column;
}
}

