/*set header theo kiểu cột*/
header{ 
	flex-direction: column;
}
/*cho logo là 100%*/
header .logo {
	width: 100%;
}
header .logo img{
	min-width: 200px;
}

header .slogan h3{
	font-size: 16px;
	text-align: center;
	padding:  0px 0px 10px 0px;
}
/*nav{
	position:fixed;
	top:0px;
	width: 100%;
}
*/
/*set nav thành cột và height auto*/
nav ul{ 
	flex-direction: column;
	height: auto;
}
/*set li theo dạng block để chiếm nguyên hàng*/

nav ul li {
	display: block;
	border-bottom: 1px solid white;
	width: 100%;
	line-height: 25px;
	text-align: center;
}
/*set main thành column*/

main{
	flex-direction: column;
}


main section.left{
	width:100%;
}
/*float chọn unset để ko chiếm cái khác*/

main section.left ul li{
	float:unset;
	padding: 0px 10px 0px 10px;
}

/*float chọn unset để ko chiếm cái khác*/
main section.left ul li img{
	float: unset;
	width: 100%;
	max-width: 100%;
}

/*display flex và wrap để hiển thì 2 hinh 1 dòng*/
main section.right{
	display: flex;
	flex-wrap:wrap;
	width: 460px;

}

main section.right img{
	width: 50%;
}